@import '../../App.scss';

.header-container {
    position: sticky;
    top: 0;
    z-index: 1001;
    color: $primary-color;
    background-color: #ffffffe6;
    backdrop-filter: saturate(180%) blur(20px);
    transition:
        height 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
        box-shadow 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;

    .navbar-nav {
        .nav-link {
            color: $primary-color;

            &.active {
                color: $active-color;
                font-weight: 600;
            }
        }
    }

    .navbar-brand {
        color: $primary-color;
        font-weight: 600;
        font-size: 32px;
    }

    .btn-login {
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: #191919;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        background-color: transparent;
        transition:
            color 0.15s ease-in-out,
            background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }
}
